 
 /* H1 stil */
.title {
  color: #2c3e50;
  font-size: 2rem;
  margin-bottom: 20px;
}
  
  /* Container för knappar/länkar */
  .links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Mellanrum mellan länkar */
    margin-bottom: 30px;
  }

  
  /* För att centrera innehåll i knappar eller andra komponenter */
  .centeredContent {
    text-align: center;
  
  }

  /* Stil för div som innehåller funktionerna */
.functionsContent {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 400px; 
  margin-top: 30px;
}

/* Stil för texten i funktionerna */
.functionsContent h3 {
  color: #2c3e50;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.functionsContent p {
  color: #555; 
  font-size: 1.2rem;
  margin-bottom: 10px;
}


.interfaceContent {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 400px; 
  margin-top: 30px;
}


.interfaceContent h3 {
  color: #2c3e50; 
  font-size: 2rem;
  margin-bottom: 20px; /* Lite utrymme under rubriken */
}

.interfaceContent p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #2c3e50;
  font-weight: bold;
}

/* Container för både functions-content och interface-content */
.mainContent {
  display: flex;
  gap: 20px; /* Mellanrum mellan de två divarna */
  justify-content: space-between; /* För att ge dem jämnt utrymme mellan */
  width: 100%; 
  max-width: 1200px; /* Maximera bredden på större skärmar */
  flex-wrap: wrap; /* Gör så att divarna går till nästa rad på mindre skärmar */
}